.headerBar {
  background-color: rgba(0, 0, 0, 0.562);
  color: rgb(176, 235, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
}

nav {
  display: flex;
  padding: 1rem;
  border-bottom: cyan 3px solid;
  background-color: #282c34;
  width: 100vw;
  padding-right: 20%;
  justify-content: flex-end;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  background-color: cadetblue;
}

.searchBar {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 10px;
  padding: 10px;
}

img {
  height: 150px;
  width: 150px;
}

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
